
body,
div,
html {
  width: 100%;
  min-width: screen;
  margin: 0;
  background-color: #e8e8fc;
  color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
}


.active{
  background: #202033;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 1% 1% 2% 1%;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 4px 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.inactive{
  background: #9f9fc2;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 1% 1% 2% 1%;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 4px 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202033;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

.navbar a {
  color: #e8e8fc;
  text-decoration: none;
  padding: 14px 14px;
  margin-right: 0px;
  font-size: 25px;
  text-align: center;
}

.navbar a:hover {
  background-color: #4c63af;
  color: black;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  color: #202033;
}

.navbar .menu {
  display: flex;
}

.navbar.responsive .menu {
  display: block;
}

.navbar .icon {
  display: none;
}

@media screen{
  .navbar .icon {
    display: block;
    cursor: pointer;
  }

  .navbar .menu {
    display: none;
  }

  .navbar.responsive .menu {
    display: flex;
    flex-direction: column;
    background-color: #9f9fc2;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1;
    height: auto;
  }

  .navbar.responsive .menu a {
    padding: 10px 20px;
  }
}

.footn{
  background-color: #202033;
  color:#4c63af;
  padding:20px;
  margin:20px 0px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  bottom: 0px;

}

.foot_lnks{
  padding:0px 20px 0px;
}

.foot_icon{
  width:20px;
  height:20px;
  padding:10px 10px 0px;
}

.foot_div{
  background-color: #202033;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
}

.view_card{
  display: flex;
}

.no_card{
  display: none;
}

.cardlook{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 300px;
  height: auto;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
  margin: 5px auto auto auto;
  padding: 2px;
  text-align: center;
}